@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../Fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto'), url('../Fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto'), url('../Fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


html {
    transition: all 1s ease;
    font-family: 'Roboto', sans-serif;
    outline: none !important;
}

a {
    text-decoration: none;
}

a:active,
a:focus {
    outline: none;
}

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}


body {
    scroll-behavior: smooth;
    width: 100%;
    position: relative;
    margin: 0 auto;
    transition: all 1.3s;
    background-color: #f9fcff;
    box-sizing: border-box;
}

section {
    width: 100%;
}

section .wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

section.main {
    width: 100%;
    min-height: 1144px;
    background: url('../Images/Main/main_background.jpg') no-repeat center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;

}

/* Полноэкранный хэдэр */
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header .h_c_w {
    display: block;
    width: 1200px;
    height: 0.01px;
    position: relative;
    margin: 0 auto;
}

header .h_c_w .hidden_cart {
    display: none;
    width: 480px;
    height: auto;
    position: absolute;
    background: linear-gradient(180deg, #FFFFFF 25.52%, #ECF7FA 100%);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(24, 47, 68, 0.3);
    border-radius: 5px;
    right: 0px;
    top: 60px;
    z-index: 3;
    padding: 24px;
}
header .h_c_w .hidden_cart .bridge {
    width: 110px;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    top: -30px;
    right: 130px;
}

header .h_c_w .hidden_cart.visible {
    display: block;
}

header .h_c_w .hidden_cart .header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

header .h_c_w .hidden_cart .header .number {
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    text-align: left;
}

header .h_c_w .hidden_cart .header .order {
    background: linear-gradient(180deg, #FF6B22 0%, #E24908 100%);
    border-radius: 32px;
    width: 177px;
    height: 40px;
    box-shadow: 0px 10px 20px rgba(244, 94, 0, 0.15);
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 10px rgba(24, 47, 68, 0.3);
}

header .h_c_w .hidden_cart .header .order:hover {
    cursor: pointer;
    background: #FF6B22;
}

header .h_c_w .hidden_cart .hidden_cart_item {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .h_c_w .hidden_cart .hidden_cart_item img {
    display: block;
}

header .h_c_w .hidden_cart .hidden_cart_item .name {
    width: 199px;
    height: 56px;
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 21px;
    color: #223038;
}

header .h_c_w .hidden_cart .hidden_cart_item .quantity {
    width: 64px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #E6F2F5;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
}

header .h_c_w .hidden_cart .hidden_cart_item .quantity p {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #4C6579;
}

header .h_c_w .hidden_cart .hidden_cart_item .price {
    width: 76px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

header .h_c_w .hidden_cart .hidden_cart_item .price .earlier {
    text-decoration: line-through;
}

header .h_c_w .hidden_cart .hidden_cart_item .delete:hover {
    cursor: pointer;
}

header .h_c_w .hidden_cart hr {
    height: 3px;
    border: none;
    margin: 0 auto;
    background-color: #E5F1F5;
    color: lightskyblue;
}

header .h_c_w .hidden_cart .clear_cart {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    position: absolute;
    right: 24px;
    bottom: 24px;
    color: #DF5309;
}

header .h_c_w .hidden_cart .clear_cart:hover {
    cursor: pointer;
}

header .top-menu {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(20px);
    animation: fadeInDown;
    animation-duration: 2s;
}

header .top-menu_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    position: relative;

}



header .main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 728px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 25px;
    box-sizing: border-box;

}

header .main-menu li {
    display: block;
    margin: 0;
}

header .main-menu li a {
    display: block;
    color: #223038;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

header .main-menu li a:hover {
    color: #DF5309;
}

header .main-menu .sub-menu li a.sub-menu_catalog {
    color: #DF5309;
}

header .main-menu li .arrow_default {
    background: url('../Images/Header/Arrow_default.png') no-repeat center center;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -15px;
    top: 8px;
}

header .main-menu .sub-menu li a.sub-menu_catalog .arrow {
    background: url('../Images/Header/Arrow_clicked.png') no-repeat center center;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -15px;
    top: 8px;
}


header .main-menu li .sub-menu {
    padding: 0;
    margin: 0;
    padding-top: 11px;
    padding-left: 23px;
    padding-right: 15px;
    margin-left: 0;
    display: none;
    position: absolute;
    width: 191px;
    height: 224px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #FFFFFF 0%, #ECF7FA 100%);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(24, 47, 68, 0.3);
    border-radius: 0px 0px 5px 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 2;
}
header .main-menu li .sub-menu:hover {
    cursor: pointer;
}

header .main-menu .sub-menu li a {
    margin-bottom: 10px;
    text-align: left;
    position: relative;
}

header .top-menu_wrapper .search_input {
    width: 192px;
    height: 40px;
    position: relative;
    border-radius: 29px;
    box-sizing: border-box;
    transition-duration: all 0.7s;
}

header .top-menu_wrapper .search_input:hover input {
    cursor: pointer;
    width: 220px;
    transform: translateX(-20px);
    
}

header .top-menu_wrapper .search_input input {
    width: 192px;
    height: 40px;
    background: linear-gradient(180deg, #BDE4EA 0%, #D7EEF4 39.58%);
    background-blend-mode: multiply;
    opacity: 0.6;
    border: 2px solid #E1F9FF;
    box-shadow: inset 0px 0px 10px rgba(115, 170, 188, 0.5);
    border-radius: 29px;
    padding-left: 55px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

}

header .top-menu_wrapper .search_input img {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 10px;
}

header .top-menu_wrapper .basket_wrapper {
    width: 112px;
    height: 41px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 15px 35px rgba(184, 218, 227, 0.7);
    border-radius: 29px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .top-menu_wrapper .basket_wrapper:hover {
    cursor: pointer;
   
    animation-duration: 0.3s;
}

header .top-menu_wrapper .basket_wrapper .image {
    width: 22px;
    height: 22px;
    display: block;
    position: relative;
}

header .top-menu_wrapper .basket_wrapper .image p {
    position: absolute;
    width: 17px;
    height: 17px;
    background: linear-gradient(180deg, #00D1B3 0%, #00AB8E 100%);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
    top: -10px;
    right: -10px;
    margin: 0;
    padding: 0;
}

header .top-menu_wrapper .login {
    position: relative;
    width: 112px;
    height: 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    border: 2px solid #B9DCE6;
    box-sizing: border-box;
    border-radius: 29px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-right: 15px;
}

header .top-menu_wrapper .login:hover {
    cursor: pointer;
   
    animation-duration: 0.3s;
}

header .bottom_info {
    width: 1200px;
    margin: 0 auto;
    animation: fadeInLeft;
    animation-duration: 1s;

}

header .bottom_info .bottom_info_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 140px;
}

header .bottom_info .bottom_info_wrapper .logo {

    width: 245px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .bottom_info .bottom_info_wrapper .city_selector {
    width: 164px;
    height: 42px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .bottom_info .bottom_info_wrapper .city_selector .city {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #223038;
}

header .bottom_info .bottom_info_wrapper .social_icons {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .bottom_info .bottom_info_wrapper .social_icons img {
    width: 38px;
    height: 38px;
}

header .bottom_info .bottom_info_wrapper .social_icons img:hover {
   
    animation-duration: 0.3s;
    box-shadow: 0px 0px 8px 8px #aaaaaa;
    border-radius: 20%;
}

header .bottom_info .bottom_info_wrapper .callback {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
}

header .bottom_info .bottom_info_wrapper .callback .descr p {
    margin: 0;
    padding: 0;
}

header .bottom_info .bottom_info_wrapper .callback .descr p.first {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #223038;
}

header .bottom_info .bottom_info_wrapper .callback .descr p.second {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #223038;
}

header .bottom_info .bottom_info_wrapper .callback .callback_button {
    width: 225px;
    height: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    border: 2px solid #DF5309;
    box-sizing: border-box;
    border-radius: 29px;
    line-height: 46px;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #DF5309;
    cursor: pointer;
    position: relative;
}

header .bottom_info .bottom_info_wrapper .callback .callback_button:hover {
    background-color: #ffffff;
}

header .bottom_info .bottom_info_wrapper .callback .callback_button::after {
    content: '';
    position: absolute;
    width: 4.5px;
    height: 8px;
    background: url('../Images/Header/Arrow_callBack.png') no-repeat center center;
    top: 22px;
    right: 20px;
}

/* Конец полноэкранного хэдера */
/* Начало скрытого хэдэра */
header.hidden {
    display: none;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

header.hidden .logo {
    z-index: 1;
}

header.hidden .basket_wrapper {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 180px;

}

header.hidden .basket_wrapper img {
    display: block;
    position: relative;
    margin: 0 auto;
}

header.hidden .basket_wrapper .num_of_goods {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #00D1B3;
    position: absolute;
    top: -20px;
    right: 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
}

/* Стилизация бургера */
.ham_twin {
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 100;
    background-color: rgba(211, 255, 251, 0);
    opacity: 1;
    top: 0;
    right: 0px;
    display: none;
}

.ham_twin.active {
    display: block;
}

.ham_twin.visible {
    display: block;
}

.burg_wrapper {
    display: block;
    height: 80px;
    width: 80px;
    background-color: rgba(209, 209, 211, 0.1);
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 5;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 6;
    display: block;
}

.ham.visible {
    display: block;
    position: fixed;
    z-index: 6;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #01622D;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham7 .top {
    stroke-dasharray: 40 82;
}

.ham7 .middle {
    stroke-dasharray: 40 111;
}

.ham7 .bottom {
    stroke-dasharray: 40 161;
}

.ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
    stroke: #ffffff;
}

.ham7.active .middle {
    stroke-dashoffset: 23px;
    stroke: #ffffff;
}

.ham7.active .bottom {
    stroke-dashoffset: -83px;
    stroke: #ffffff;
}

/* Конец стилизации бургера */

/* Конец скрытого хэдэра */
/* Начало скрытого меню */
.hidden_menu {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 39, 43, 0.9);
    position: fixed;
    top: 0;
    z-index: 3;
}

.hidden_menu.active {
    display: block;
}

.hidden_menu .menu_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 280px;
    height: 100vh;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, #00D1B3 0%, #00AB8E 100%);
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.hidden_menu .menu_wrapper .top {
    margin: 0;
    width: 248px;
    height: 80px;
    display: flex;
    padding-right: 0px;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.hidden_menu .menu_wrapper .top .basket_wrapper {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%);
    border: 2px solid #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;


}

.hidden_menu .menu_wrapper .top .basket_wrapper img {
    display: block;
    position: relative;
    margin: 0 auto;
}

.hidden_menu .menu_wrapper .top .basket_wrapper .num_of_goods {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #00D1B3;
    position: absolute;
    top: -20px;
    right: 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
}

.hidden_menu .menu_wrapper .top .login {
    position: relative;
    width: 112px;
    height: 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 29px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-right: 15px;
    margin-right: 16px;
}

.hidden_menu .menu_wrapper .top .login:hover {
    cursor: pointer;
   
    animation-duration: 0.3s;
}

.hidden_menu .menu_wrapper .hidden_categories {
    width: 240px;
    height: 184px;
    background: linear-gradient(180deg, #FFFFFF 25.52%, #ECF7FA 100%);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(19, 72, 69, 0.3);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 25px;
    margin-bottom: 32px;

}

.hidden_menu .menu_wrapper .hidden_categories a {
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #223038;
    position: relative;
    white-space: normal;

}

.hidden_menu .menu_wrapper .hidden_categories a::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    border: 3px solid #ffffff;
    background: linear-gradient(180deg, #00D1B3 0%, #00AB8E 100%);
    box-shadow: 0px 4px 8px rgba(1, 232, 190, 0.4);
    border-radius: 50%;
    left: -20px;
}

.hidden_menu .menu_wrapper .information {
    width: 240px;
    height: 56px;
    left: 96px;
    top: 320px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 56px;
    color: #223038;
    text-align: center;
    margin-bottom: 18px;
}

.hidden_menu .menu_wrapper .info_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 240px;
    margin-bottom: 25px;
}

.hidden_menu .menu_wrapper .info_item {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 5px;

}

.hidden_menu .menu_wrapper .help {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    width: 240px;
    height: 56px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 56px;
    text-align: center;
    color: #223038;
    position: relative;
    margin-bottom: 33px;
}

a:hover {
    cursor: pointer;
}

.hidden_menu .menu_wrapper .help::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    background: url('../Images/Header/Arrow_default.png') no-repeat center center;
    width: 5px;
    height: 2px;
}

.hidden_menu .menu_wrapper .search_input {
    width: 240px;
    height: 40px;
    position: relative;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.hidden_menu .menu_wrapper .search_input:hover {
    cursor: pointer;
   
    animation-duration: 0.3s;
}

.hidden_menu .menu_wrapper .search_input input {
    width: 240px;
    height: 40px;
    background: linear-gradient(180deg, #BDE4EA 0%, #D7EEF4 39.58%);
    background-blend-mode: multiply;
    opacity: 0.6;
    border: 2px solid #E1F9FF;
    box-shadow: inset 0px 0px 10px rgba(115, 170, 188, 0.5);
    border-radius: 29px;
    padding-left: 55px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

}

.hidden_menu .menu_wrapper .search_input img {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 10px;
}

.hidden_menu .menu_wrapper .hidden_footer {
    display: flex;
    width: 240px;
    height: 80px;
    justify-content: space-between;
    align-items: center;

}

.hidden_menu .menu_wrapper .hidden_footer .social_icons {
    width: 85px;
    display: flex;
    justify-content: space-between;
}


/* Конец скрытого меню */

.main .main_slider {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 977px;
    animation: fadeInRight;
    animation-duration: 1s;


}

.main .main_slider .slider_wrapper {
    width: 100%;
    position: relative;

}

.main .main_slider .slider_wrapper .slider_item {
    position: absolute;
    display: flex;
    opacity: 0;
    transition: all 1.5s ease;
    z-index: -1;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1200px;
    right: 0;
    left: 0;

}

.main .main_slider .slider_wrapper .slider_item.active {
    position: absolute;
    z-index: 1;
    opacity: 1;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    transition: all 1.5s ease;
}

.main .main_slider .slider_wrapper .slider_item article {
    max-width: 564px;
    margin-top: 30px;

}

.main .main_slider .slider_wrapper .slider_item article header {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #294150;
    max-width: 400px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 23px;
}

.main .main_slider .slider_wrapper .slider_item article header span {
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-transform: uppercase;
    color: #294150;
}

.main .main_slider .slider_wrapper .slider_item article .descr {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #223038;
    margin-bottom: 20px;
}

.main .main_slider .slider_wrapper .slider_item article .order_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 450px;
}

.main .main_slider .slider_wrapper .slider_item article .order_info .minimal_sum {
    position: relative;
    padding-left: 40px;
}

.main .main_slider .slider_wrapper .slider_item article .order_info .region {
    position: relative;
    padding-left: 40px;
}

.main .main_slider .slider_wrapper .slider_item article img {
    width: 38px;
    height: 38px;
    position: absolute;
    left: -10px;
    top: 0px;
}

.main .main_slider .slider_wrapper .slider_item article .to_catalog {
    display: block;
    width: 287px;
    height: 56px;
    left: 352px;
    top: 576px;
    background: linear-gradient(180deg, #FA6014 0%, #CF4003 100%);
    border-radius: 32px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 108px;
    cursor: pointer;
}

.main .main_slider .slider_wrapper .slider_item article .to_catalog:hover {
    background: #FF6B22;
}

.main .main_slider .slider_wrapper .slider_item img.main_slider_image {
    position: absolute;
    right: -50px;
    top: -50px;
    z-index: 0;
    width: 757px;
    height: auto;
    text-align: center;
    box-shadow: 0px 0px -250px 200px #FFFFFF;
}

.main .main_slider .slider_wrapper .slider_item .goods_cards {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.main .main_slider .slider_wrapper .slider_item .goods_cards .good_card {
    width: 384px;
    height: 168px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 25px 45px #DDE8EB;
    border-radius: 5px;
    border: 10px solid #ffffff;
    box-sizing: border-box;
    position: relative;
}

.main .main_slider .slider_wrapper .slider_item .goods_cards .good_card:hover {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, #FFFFFF 100%);
}

.main .main_slider .slider_wrapper .slider_item .goods_cards .good_card .name {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #294150;
    position: absolute;
    bottom: 25px;
    left: 25px;
    white-space: pre-line;
}

.main .main_slider .slider_wrapper .slider_item .goods_cards .good_card .img1 {
    position: absolute;
    width: 164px;
    height: 180px;
    right: 15px;
    bottom: 0px;
    position: 0;
}

.main .main_slider .slider_wrapper .slider_item .goods_cards .good_card .img1.card9_img1 {
    right: 0;
    bottom: -7px;
}

.main .main_slider .slider_wrapper .slider_item .goods_cards .good_card .img2 {
    position: absolute;
    width: 81px;
    height: 160px;
    right: 31px;
    bottom: 0px;
    position: 0;
}

.main .main_slider .slider_wrapper .slider_item .goods_cards .good_card .category_number {
    position: absolute;
    width: 32px;
    height: 24px;
    left: 32px;
    top: -25px;
    background: linear-gradient(180deg, #00D1B3 0%, #00AB8E 100%);
    box-shadow: 0px 5px 15px rgba(1, 207, 232, 0.4);
    border-radius: 27px;
    border: 3px solid #ffffff;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.hits {
    position: relative;
    background: #ffffff;
}

.hits .wrapper {
    min-height: 600px;
    box-sizing: border-box;
    padding-top: 21px;
    animation: fadeInRightTop;
    animation-duration: 1s;
}

.hits .wrapper .header {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #223038;
    text-align: center;
    margin-bottom: 53px;
}

.hits .wrapper .hits_slider {
    max-width: 1200px;
    min-height: 424px;
    position: relative;
}

.hits .wrapper .hits_slider .hits_slider_wrapper {
    width: 1200px;
    height: 424px;
    position: relative;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item {
    width: 280px !important;
    height: 424px;
    border: 3px solid rgba(219, 236, 240, 0.7);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 33px 22px 22px 22px;
    position: relative;
}
.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .card_image {
    width: 234px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-right: 0;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item:hover {
    background: #E9F6FA;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .hit {
    display: block;
    position: absolute;
    width: 45px;
    height: 23px;
    left: 16px;
    top: 0px;
    background: #F5A883;
    border-radius: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item p.name,
.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item p.descr {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    color: #223038;
    display: block;
    height: 33px;
}
.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item p.name {
    margin-top: 32px;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item p.price {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #223038;
    margin-top: 0px;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .bottom .quantity {
    width: 64px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #E6F2F5;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .bottom .quantity p {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #4C6579;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .bottom .quantity img:hover {
    cursor: pointer;
    transform: scale(2);
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .bottom .toBasket {
    width: 152px;
    height: 40px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #FA6014 0%, #CF4003 100%);
    box-shadow: 0px 10px 20px rgba(244, 94, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .bottom .toBasket:hover {
    background: #FF6B22;

}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .bottom .toBasket img {
    display: block;
    width: 18.21px;
    height: 17.75px;
}

.hits .wrapper .hits_slider .hits_slider_wrapper .hits_slider_item .bottom .toBasket p {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;

    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 10px rgba(24, 47, 68, 0.3);
}

.hits .wrapper .look_more {
    width: 230px;
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #DF5309;
    text-align: center;
    margin: 0 auto;
    margin-top: 54px;
}

.hits .wrapper .look_more:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #DF5309;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #df5309;
}

.regular_intake {
    min-height: 1144px;
    background: url('../Images/regular_intake/regular_bg.jpg') no-repeat center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    box-shadow: 0px 0px 100px -200px #ECF7FA;
}

.regular_intake .wrapper {
    position: relative;
    padding-top: 221px;
}

.regular_intake .wrapper .header {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #223038;
    white-space: pre-line;
}
.regular_intake .wrapper .pre_header {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #223038;
    margin-top: 127px;
    display: none;
}
.regular_intake .wrapper .header_small {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #223038;
    display: none;
    margin-bottom: 43px;
    
}



.regular_intake .wrapper .descr {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #223038;
    white-space: pre-line;
}

.regular_intake .wrapper .plusses {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.regular_intake .wrapper .plusses .plusses_item {
    width: 33.333333%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.regular_intake .wrapper .plusses .plusses_item .img,
.regular_intake .wrapper .plusses_hidden .plusses_item .img{
    width: 82px;
    height: 82px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(180deg, #D9FCF8 0%, #FFFFFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    
}
.regular_intake .wrapper .plusses .plusses_item .img::before,
.regular_intake .wrapper .plusses_hidden .plusses_item .img::before {
    content: '';
    position: absolute;
    width: 76px;
    height: 76px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    border: 3px solid #00AB8E;
    border-radius: 50%;

}
.regular_intake .wrapper .plusses .plusses_item .img:hover,
.regular_intake .wrapper .plusses_hidden .plusses_item .img:hover {
    background: linear-gradient(180deg, #00D1B3 0%, #00AB8E 100%);
    cursor: pointer;
}
.regular_intake .wrapper .plusses .plusses_item .img:hover::before,
.regular_intake .wrapper .plusses_hidden .plusses_item .img:hover::before  {
    border: 3px solid #ffffff;  
}

.regular_intake .wrapper .plusses .plusses_item .img.first::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.first::after {
    content: '';
    display: block;
    width: 36.12px;
    height: 41px;
    position: absolute;
    background: url('../Images/regular_intake/plusses1_icon.svg') no-repeat center center;

}
.regular_intake .wrapper .plusses .plusses_item .img.first:hover::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.first:hover::after {
    background: url('../Images/regular_intake/plusses1_icon_2.svg') no-repeat center center;
}
.regular_intake .wrapper .plusses .plusses_item .img.second::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.second::after {
    content: '';
    display: block;
    width: 36.12px;
    height: 41px;
    position: absolute;
    background: url('../Images/regular_intake/plusses2_icon.svg') no-repeat center center;

}
.regular_intake .wrapper .plusses .plusses_item .img.second:hover::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.second:hover::after {
    background: url('../Images/regular_intake/plusses2_icon2.svg') no-repeat center center;
}

.regular_intake .wrapper .plusses .plusses_item .img.third::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.third::after{
    content: '';
    display: block;
    width: 36.12px;
    height: 41px;
    position: absolute;
    background: url('../Images/regular_intake/plusses3_icon.svg') no-repeat center center;

}
.regular_intake .wrapper .plusses .plusses_item .img.third:hover::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.third:hover::after {
    background: url('../Images/regular_intake/plusses3_icon2.svg') no-repeat center center;
}

.regular_intake .wrapper .plusses .plusses_item .img.fourth::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.fourth::after {
    content: '';
    display: block;
    width: 36.12px;
    height: 41px;
    position: absolute;
    background: url('../Images/regular_intake/plusses4_icon.svg') no-repeat center center;

}
.regular_intake .wrapper .plusses .plusses_item .img.fourth:hover::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.fourth:hover::after {
    background: url('../Images/regular_intake/plusses4_icon2.svg') no-repeat center center;
}

.regular_intake .wrapper .plusses .plusses_item .img.fifth::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.fifth::after {
    content: '';
    display: block;
    width: 36.12px;
    height: 41px;
    position: absolute;
    background: url('../Images/regular_intake/plusses5_icon.svg') no-repeat center center;

}
.regular_intake .wrapper .plusses .plusses_item .img.fifth:hover::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.fifth:hover::after {
    background: url('../Images/regular_intake/plusses5_icon2.svg') no-repeat center center;
}

.regular_intake .wrapper .plusses .plusses_item .img.sixth::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.sixth::after {
    content: '';
    display: block;
    width: 36.12px;
    height: 41px;
    position: absolute;
    background: url('../Images/regular_intake/plusses6_icon.svg') no-repeat center center;

}
.regular_intake .wrapper .plusses .plusses_item .img.sixth:hover::after,
.regular_intake .wrapper .plusses_hidden .plusses_item .img.sixth:hover::after {
    background: url('../Images/regular_intake/plusses6_icon2.svg') no-repeat center center;
}





.regular_intake .wrapper .plusses .plusses_item p {
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #223038;
    white-space: pre-line;


}

/* plusses hidden */
.regular_intake .wrapper .plusses_hidden {

    display: none;
}

.regular_intake .wrapper .plusses_hidden .plusses_item {
    width: 33.33333%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.regular_intake .wrapper .plusses_hidden .plusses_item .img {
    text-align: center;
}


.regular_intake .wrapper .plusses_hidden .plusses_item p {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #223038;
    white-space: pre-line;
    margin-top: 30px;
    margin: 0px;
    text-align: center;
}

.regular_intake .wrapper .to_catalog {
    display: block;
    margin: 0 auto;
    width: 287px;
    height: 56px;
    left: 352px;
    top: 576px;
    background: linear-gradient(180deg, #FA6014 0%, #CF4003 100%);
    border-radius: 32px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 90px;
    cursor: pointer;
}

.regular_intake .wrapper .to_catalog:hover {
    background: #FF6B22;
    box-shadow: 0px 0px 10px 10px #aaaaaa;
}

.for {
    position: relative;
    background: #ffffff;
    margin: 0 auto;
}

.for .wrapper {
    width: 1200px;
    min-height: 872px;
    box-sizing: border-box;
    padding-top: 21px;
    margin: 0 auto;
}

.for .wrapper .header {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #223038;
    margin-bottom: 38px;
}

.for .wrapper .for_tabs {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.for .wrapper .for_tabs .tab {
    border: 3px solid #DEEAED;
    box-sizing: border-box;
    min-width: 303px;
    height: 40px;
    border-radius: 45px;
    line-height: 34px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #223038;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.for .wrapper .for_tabs .tab:hover {
    box-shadow: 0px 0px 2px 4px #DEEAED;
    color: #DF5309;
}

.for .wrapper .for_tabs .tab.active {
    color: #DF5309;
    border: 3px solid #DF5309;
}

/* Tabs hidden */
.for .wrapper .for_tabs_hidden {
    display: none;
    width: auto;
    height: 32px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    border: 2px solid #DF5309;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #DF5309;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 20px;
}

.for .wrapper .for_tabs_hidden .tab {
    border: 3px solid #DEEAED;
    box-sizing: border-box;
    min-width: 303px;
    height: 40px;
    border-radius: 45px;
    line-height: 34px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #223038;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.for .wrapper .for_tabs_hidden .tab:hover {
    box-shadow: 0px 0px 2px 4px #DEEAED;
}

.for .wrapper .for_tabs_hidden .tab.active {
    color: #DF5309;
    border: 3px solid #DF5309;
}

/* Конец Tabs hiddden */

.for .wrapper .tab_content {
    position: relative;
    width: 1200px;
    min-height: 437px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for .wrapper .tab_content .tab_content_item {
    position: absolute;
    width: 1200px;
    min-height: 489px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.for .wrapper .tab_content .tab_content_item.active {
    display: flex;
    opacity: 1;
}



.for .wrapper .tab_content .tab_content_item .feature {
    display: block;
    position: absolute;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.for .wrapper .tab_content .tab_content_item.active .feature:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.for .wrapper .tab_content .tab_content_item .feature.right {
    flex-direction: row-reverse;
}

.for .wrapper .tab_content .tab_content_item .feature.right p {
    text-align: left;
}

.for .wrapper .tab_content .tab_content_item .feature.first {
    left: 3.5%;
    top: 6%;
}

.for .wrapper .tab_content .tab_content_item .feature.second {
    left: 1.5%;
    top: 45%;
}

.for .wrapper .tab_content .tab_content_item .feature.third {
    left: 5.5%;
    top: 83%;
}

.for .wrapper .tab_content .tab_content_item .feature.fifth {
    right: 0%;
    top: 45%;
}

.for .wrapper .tab_content .tab_content_item .feature.fourth {
    right: 5.5%;
    top: 6%;
}

.for .wrapper .tab_content .tab_content_item .feature.sixth {
    right: 4.5%;
    top: 83%;
}

.for .wrapper .tab_content .tab_content_item .feature p {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #223038;
    margin-bottom: 30px;
    white-space: pre-line;
    margin-left: 10px;
    margin-right: 10px;
}

.for .wrapper .buy_biovestin {
    display: block;
    margin: 0 auto;
    width: 288px;
    height: 56px;
    box-shadow: 0px 20px 45px rgba(244, 94, 0, 0.2);
    background: linear-gradient(180deg, #FA6014 0%, #CF4003 100%);
    border-radius: 32px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 10px rgba(24, 47, 68, 0.3);
    margin-top: 50px;
}

.for .wrapper .buy_biovestin:hover {
    cursor: pointer;
    background: #fA6014;
}

.milk {
    min-height: 1222px;
    background: url('../Images/Milk/milk_bg.png') no-repeat center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    box-shadow: 0px 0px 100px -200px #ECF7FA;
}

.milk .wrapper {
    padding-top: 164px;
    box-sizing: border-box;
}

.milk .wrapper .header p {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #223038;
    margin: 0 auto;
}

.milk .wrapper .header p.second {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #223038;
    margin-top: 10px;
    margin-bottom: 30px;
}

.milk .wrapper .descr {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #223038;
    margin-bottom: 85px;
}

.milk .wrapper .container {
    position: relative;
    min-height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* НАчало стилизации items milk */
.milk .wrapper .container .item {
    display: block;
    position: absolute;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.milk .wrapper .container .item .text {
    white-space: pre-line;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #223038;
}



.milk .wrapper .container .item.right {
    flex-direction: row-reverse;
}

.milk .wrapper .container .item.right .text {
    text-align: left;
}

.milk .wrapper .container .item.first {
    left: 9%;
    top: -2%;
}

.milk .wrapper .container .item.second {
    left: 9%;
    top: 37%;
}

.milk .wrapper .container .item.third {
    left: 18%;
    top: 76%;
}

.milk .wrapper .container .item.fifth {
    right: 3.5%;
    top: 37%;
}

.milk .wrapper .container .item.fourth {
    right: 12%;
    top: -2%;
}

.milk .wrapper .container .item.sixth {
    right: 17%;
    top: 76%;
}

/* Конец стилизации milk item */
.milk .wrapper .buy_baby_food {
    display: block;
    background: linear-gradient(180deg, #FA6014 0%, #CF4003 100%);
    border-radius: 32px;
    width: 320px;
    height: 56px;
    box-shadow: 0px 20px 45px rgba(244, 94, 0, 0.35);
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 10px rgba(24, 47, 68, 0.3);
    margin: 0 auto;
    margin-top: 50px;
}

.milk .wrapper .buy_baby_food:hover {
    background: #FA6014;
}

.functional_nutrition {
    position: relative;
    background: #ffffff;
    margin: 0 auto;
}

.functional_nutrition .wrapper {
    max-width: 1200px;
    min-height: 780px;
    box-sizing: border-box;
    padding-top: 81px;
    margin: 0 auto;
}

.functional_nutrition .wrapper header {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #223038;
    margin: 0 auto;
    margin-bottom: 38px;
    display: block;

}

.functional_nutrition .wrapper .descr {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #223038;
    white-space: pre-line;
}

.functional_nutrition .wrapper .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.functional_nutrition .wrapper .container img {
    max-width: 600px;
}

.functional_nutrition .wrapper .container .items_wrapper {
    min-height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.functional_nutrition .wrapper .container .items_wrapper .item {
    width: 50%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* Пример СТилей из другого раздела */







/* КОнец примера */

.functional_nutrition .wrapper .container .items_wrapper .item .img {
    width: 82px;
    height: 82px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(180deg, #D9FCF8 0%, #FFFFFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.functional_nutrition .wrapper .container .items_wrapper .item .img:hover {
    background: linear-gradient(180deg, #00D1B3 0%, #00AB8E 100%);
    cursor: pointer;
}
.functional_nutrition .wrapper .container .items_wrapper .item .img::before {
    content: '';
    position: absolute;
    width: 76px;
    height: 76px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    border: 3px solid #00AB8E;
    border-radius: 50%;
}
.functional_nutrition .wrapper .container .items_wrapper .item .img:hover::before {
    border: 3px solid #ffffff;  
}
.functional_nutrition .wrapper .container .items_wrapper .item .img.first::after{
    content: '';
    display: block;
    width: 36.12px;
    height: 41px;
    position: absolute;
    background: url('../Images/functional_nutrition/Intestine1.svg') no-repeat center center;
}
.functional_nutrition .wrapper .container .items_wrapper .item .img.first:hover::after {
    background: url('../Images/functional_nutrition/Intestine2.svg') no-repeat center center;
}


.functional_nutrition .wrapper .container .items_wrapper .item .descr {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #223038;
}



.functional_nutrition .wrapper .buy_functional_nutrition {
    display: block;
    margin: 0 auto;
    margin-top: 38px;
    width: 416px;
    height: 56px;
    box-shadow: 0px 20px 45px rgba(244, 94, 0, 0.2);
    background: linear-gradient(180deg, #FA6014 0%, #CF4003 100%);
    border-radius: 32px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 10px rgba(24, 47, 68, 0.3);
}

.functional_nutrition .wrapper .buy_functional_nutrition:hover {
   
    animation-duration: 0.3s;
    background: #FA6014;
}

.feedback {
    min-height: 991px;
    background: url('../Images/feedback/feedback_bg.png') no-repeat center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    box-shadow: 0px 0px 100px -200px #ECF7FA;
}

.feedback .wrapper {
    padding-top: 204px;
    box-sizing: border-box;

}

.feedback .wrapper header {
    display: block;
    margin-bottom: 50px;
}

.feedback .wrapper header p {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #223038;
    margin: 0 auto;
    display: block;
}

.feedback .wrapper header p.second {
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #223038;
    margin-top: 10px;
    margin-bottom: 30px;
}

.feedback .wrapper .container {
    max-width: 1200px;
    min-height: 392px;
    display: block;
}

.feedback .wrapper .container .feedback_slider_wrapper {
    min-height: 390px;
}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item {
    width: 384px !important;
    height: 390px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 0%, #FFFFFF 100%);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    padding: 36px 32px 26px 32px;
    box-sizing: border-box;
}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item:hover {
    box-shadow: inset 0px 0px 10px 7px #aaaaaa;
}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item .top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item .top img {
    margin-right: 24px;
}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item .top .name {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item .divider {
    position: absolute;
    width: 384px;
    height: 4px;
    top: 104px;
    left: 0;
    z-index: 3;

}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item .text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #223038;
    text-align: left;
    margin-bottom: 20px;
}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item .read_more {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #00AB8E;
    cursor: pointer;
}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item .read_more:hover {
    color: #DF5309;

}

.feedback .wrapper .container .feedback_slider_wrapper .slider_item .quote {
    width: 32px;
    display: block;
    height: 27.34px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 20;
}

.feedback .wrapper .container .read_all_feedback {
    display: block;
    width: 272px;
    height: 56px;
    left: 820px;
    top: 6617px;
    background: linear-gradient(180deg, #FA6014 0%, #CF4003 100%);
    box-shadow: 0px 20px 45px rgba(244, 94, 0, 0.35);
    border-radius: 32px;
    cursor: pointer;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 10px rgba(24, 47, 68, 0.3);
    margin: 0 auto;
    margin-top: 47px;
}

.feedback .wrapper .container .read_all_feedback:hover {
    cursor: pointer;
    background: #FA6014;
}

.hotline {
    position: relative;
    background: #ffffff;
    margin: 0 auto;
}

.hotline .wrapper {
    max-width: 1200px;
    min-height: 700px;
    box-sizing: border-box;
    padding-top: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotline .wrapper .hotline_item {
    background: #D6F1F0 url('../Images/hotline/BG.png') no-repeat center bottom;
    width: 728px;
    height: 528px;
    position: relative;
    padding-left: 48px;
    padding-top: 65px;
    box-sizing: border-box;
}

.hotline .wrapper .hotline_item img {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 479px;
    height: 578px;
    z-index: -1;
}

.hotline .wrapper .hotline_item header {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-align: left;
    text-transform: uppercase;
    color: #223038;
}

.hotline .wrapper .hotline_item .descr {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #223038;
    text-align: left;
    margin-bottom: 20px;
}

.hotline .wrapper .hotline_item a.tel {
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.14em;
    text-align: left;
    color: #223038;
    width: 240px;
    margin-bottom: 40px;
}

.hotline .wrapper .hotline_item a.tel:hover {
    cursor: pointer;
}

.hotline .wrapper .hotline_item .callback_button {
    display: block;
    width: 225px;
    height: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    border: 2px solid #DF5309;
    box-sizing: border-box;
    border-radius: 29px;
    line-height: 46px;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #DF5309;
    cursor: pointer;
    position: relative;
}

.hotline .wrapper .hotline_item .callback_button:hover {
    cursor: pointer;
    background-color: #ffffff;
}

.hotline .wrapper .hotline_item .callback_button::after {
    content: '';
    position: absolute;
    width: 4.5px;
    height: 8px;
    background: url('../Images/Header/Arrow_callBack.png') no-repeat center center;
    top: 22px;
    right: 20px;
}

.hotline .wrapper .subscribe {
    width: 448px;
    height: 528px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 3px solid #00D1B3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 51px 48px;
}

.hotline .wrapper .subscribe .header {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #223038;
    margin-bottom: 32px;
}

.hotline .wrapper .subscribe #name1,
.hotline .wrapper .subscribe #email1 {
    width: 100%;
    height: 48px;
    background: #E5F1F5;
    border: 1px solid #D3E7EE;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px #C8E6F0;
    border-radius: 5px;
    padding-left: 16px;
    line-height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #4C6579;
    margin-bottom: 32px;
}

.hotline .wrapper .subscribe .subscribe1 {
    width: 240px;
    height: 56px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #FA6014 0%, #CF4003 100%);
    border-radius: 32px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
    margin-bottom: 32px;
}

.hotline .wrapper .subscribe .subscribe1:hover {
    cursor: pointer;
    background: #FA6014;
}

/* Чекбокс */
.hotline .wrapper .checkbox input[type="checkbox"] {
    display: none;

}

.hotline .wrapper .checkbox input[type="checkbox"]+label span {
    border: 2px solid #E3E8F0;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 4px;
    left: -4px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
    margin: -1px 10px 10px 0;
}

.hotline .wrapper .checkbox label {
    position: relative;
    margin-left: 7px;
    cursor: pointer;
    margin-bottom: 10px;
}

.hotline .wrapper .checkbox input[type="checkbox"]:checked+label span {
    background: #00D1B3 url('../Images/hotline/checked_checkbox.svg') no-repeat center center;
}

footer {
    width: 100%;
    min-height: 500px;
    position: relative;
    background: #ffffff;
    margin: 0 auto;
    padding-top: 150px;
    box-sizing: border-box;
}

footer .wrapper {
    max-width: 1200px;
    min-height: 270px;
    box-sizing: border-box;
    padding-top: 0px;
    margin: 0 auto;
    position: relative;
}

footer .wrapper .top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .wrapper .top .logo {
    width: 245px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

footer .wrapper .top .column {
    width: 23%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .wrapper .top .column .header {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #223038;
    margin-bottom: 18px;
}

footer .wrapper .top .column a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #223038;
    margin-bottom: 10px;
}

footer .wrapper .top .column p {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #223038;
    margin-bottom: 10px;
}

footer .wrapper .top .column a.tel {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #223038;
    text-decoration-line: none;
}

footer .wrapper .top .column a.tel span {
    font-weight: normal;
    cursor: default;
    text-decoration-line: none;
}

footer .wrapper .top .column a.tel span:hover {
    color: #223038;
}

footer .wrapper .top .column a:hover {
    color: #FA6014;
}

footer .divider {
    max-width: 1920px;
    height: 2px;
    left: 0px;
    top: 221px;
    background: #E5F1F5;
    box-shadow: inset 0px 0px 5px #C8E6F0;
    border-radius: 5px;
}

footer .attention {
    display: block;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #223038;
}

footer .bottom {
    width: 100%;
    height: 56px;
    background: #E5F1F5;
    box-shadow: inset 0px 0px 5px #C8E6F0;
    border-radius: 5px;
}

footer .bottom .bottom_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .bottom .bottom_wrapper .social_icons {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .bottom .bottom_wrapper .social_icons img {
    width: 38px;
    height: 38px;
}

footer .bottom .bottom_wrapper .social_icons img:hover {
   
    animation-duration: 0.3s;
    box-shadow: 0px 0px 8px 8px #aaaaaa;
    border-radius: 20%;
}

footer .bottom .bottom_wrapper .subscribe {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #223038;
    position: relative;
}

footer .bottom .bottom_wrapper .subscribe:hover {
    color: #FA6014;
    cursor: pointer;
}

footer .bottom .bottom_wrapper .subscribe::before {
    content: '';
    position: absolute;
    background: url('../Images/footer/subscribe_icon.png') no-repeat center center;
    width: 19.56px;
    height: 16.06px;
    left: -27px;
    top: 4px;
}

footer .bottom .bottom_wrapper .search_input {
    width: 192px;
    height: 40px;
    position: relative;

    box-sizing: border-box;
}

footer .bottom .bottom_wrapper .search_input input {
    width: 192px;
    height: 40px;
    background: linear-gradient(180deg, #BDE4EA 0%, #D7EEF4 39.58%);
    background-blend-mode: multiply;
    opacity: 0.6;
    border: 2px solid #E1F9FF;
    box-shadow: inset 0px 0px 10px rgba(115, 170, 188, 0.5);
    border-radius: 29px;
    padding-left: 55px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

}

footer .bottom .bottom_wrapper .search_input img {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 10px;
}

footer .bottom .bottom_wrapper .aliance {
    display: block;
    width: 61px;
    height: 36.13px;
    background: url('../Images/footer/Aliance+logo.png') no-repeat center center;
}

/* Начало стилизации каталога */
.catalog_top_bg {
    position: absolute;
    width: 100%;
    height: 416px;
    top: 0;
    background: url("../Images/Catalog/catalog_top_bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.catalog_main {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box;
}

.catalog_main .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
}

.catalog_main .wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    padding-top: 0px;
    margin: 0 auto;
    position: relative;
}

.catalog_main .wrapper .breadcrumbs {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333D4D;
    margin-bottom: 50px;
}

.catalog_main .wrapper .header {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-transform: uppercase;
    color: #333D4D;
    text-align: left;
    margin-left: 24px;
    position: relative;
    margin-bottom: 101px;
}

.catalog_main .wrapper .header::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 24px;
    background: linear-gradient(180deg, #00D1B3 0%, #00AB8E 100%);
    border-radius: 31px;
    left: -20px;
    top: 10px;
}

.catalog_main .wrapper .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.catalog_main .wrapper .container .side_panel {
    position: relative;
    display: flex;
    width: 280px;
    flex-wrap: wrap;
}

.catalog_main .wrapper .container .side_panel .side_categories {
    width: 280px;
    height: 272px;
    left: 352px;
    top: 432px;
    background: linear-gradient(180deg, #00D1B3 0%, #00AB8E 100%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 31px 55px 25px 54px;
    box-sizing: border-box;
    margin-bottom: 17px;
}

.catalog_main .wrapper .container .side_panel .side_categories .category_item {
    position: relative;
    display: block;


}

.catalog_main .wrapper .container .side_panel .side_categories hr {
    width: 280px;
    height: 4px;
    border: none;
    background: url('../Images/Catalog/Divider_categories.png') no-repeat center center;
    transform: translateX(-64px);
}

.catalog_main .wrapper .container .side_panel .side_categories input {
    display: block;
    opacity: 0;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -30px;
    top: 2px;

}

.catalog_main .wrapper .container .side_panel .side_categories label span {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -30px;
    top: 2px;
    background: url('../Images/Catalog/radio_unchecked.png') no-repeat center center;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #FFFFFF;
}

.catalog_main .wrapper .container .side_panel .side_categories input[type="radio"]:checked+label span {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -30px;
    top: 2px;
    background: url('../Images/Catalog/radio.png') no-repeat center center;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 2px #FFFFFF;
}

.catalog_main .wrapper .container .side_panel .side_categories label {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    position: relative;
}

.catalog_main .wrapper .container .side_panel .subscribe_side_panel {
    width: 280px;
    height: 312px;
    background: #E5F1F5;
    border: 3px solid #D3E7EE;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px #C8E6F0;
    border-radius: 5px;
    padding: 23px 32px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.catalog_main .wrapper .container .side_panel .subscribe_side_panel .text {
    font-family: 'Roboto Slab', sans-serif;
    width: 216px;
    height: 116px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #223038;
    margin-bottom: 29px;
}

.catalog_main .wrapper .container .side_panel .subscribe_side_panel .text:hover {
    cursor: pointer;
}

.catalog_main .wrapper .container .side_panel .subscribe_side_panel input[type="email"] {
    width: 216px;
    height: 47px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 0%, #FFFFFF 100%);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(100, 175, 186, 0.15);
    border-radius: 43px;
    padding-left: 32px;
    margin-bottom: 16px;
}

.catalog_main .wrapper .container .side_panel .subscribe_side_panel input[type="email"]:hover {
    cursor: pointer;
}

.catalog_main .wrapper .container .side_panel .subscribe_side_panel input[type="submit"] {
    width: 215px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.8) 100%);
    border: 2px solid #DF5309;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #DF5309;
    position: relative;
    
}


.catalog_main .wrapper .container .side_panel .subscribe_side_panel input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #aaaaaa;
}
.catalog_main .wrapper .container .side_panel .marks {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.catalog_main .wrapper .container .side_panel .marks .hit {
    width: 59px;
    height: 32px;
    background: #F5A883;
    border-radius: 19px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 15px;
}
.catalog_main .wrapper .container .side_panel .marks .hit:hover {
    cursor: pointer;
}
.catalog_main .wrapper .container .side_panel .marks .natural {
    width: 138px;
    height: 32px;
    background: #B7C06F;
    border-radius: 19px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: #FFFFFF;
    text-align: center;
}
.catalog_main .wrapper .container .side_panel .marks .natural:hover {
    cursor: pointer;
}

/* Конец стилизации каталога */